name: Terraform Plan
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/environments/dev
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with: { terraform_version: 1.6.6 }
      - run: terraform fmt -check
      - run: terraform init -input=false
      - run: terraform validate
      - run: terraform plan -input=false
